.aorexternalexamination-container {
  width: 100%;
  .aorexternalexamination-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .aorexternalexamination-menu {
      padding: 25px 0;
    }

    .aorexternalexamination-main {
    }
  }
}
