.structureofthecentral-container {
  width: 100%;
  .structureofthecentral-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .structureofthecentral-menu {
      padding: 25px 0;
    }

    .structureofthecentral-main {
    }
  }
}
