.frequentlyaskedquestions-container {
  width: 100%;
  .frequentlyaskedquestions-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .frequentlyaskedquestions-menu {
      padding: 25px 0;
    }

    .frequentlyaskedquestions-main {
    }
  }
}
