.stateprogram-container {
  width: 100%;
  .stateprogram-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .stateprogram-menu {
      padding: 25px 0;
    }

    .stateprogram-main {
    }
  }
}
