.transparencyofministry-container {
  width: 100%;
  .transparencyofministry-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .transparencyofministry-menu {
      padding: 25px 0;
    }

    .transparencyofministry-main {
    }
  }
}
