.e-government-container {
  width: 100%;
  .e-government-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .e-government-menu {
      padding: 25px 0;
    }

    .e-government-main {
    }
  }
}
