.requireddocuments-container {
  width: 100%;
  .requireddocuments-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .requireddocuments-menu {
      padding: 25px 0;
    }

    .requireddocuments-main {
    }
  }
}
