.investmentpotential-container {
  width: 100%;
  .investmentpotential-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .investmentpotential-menu {
      padding: 25px 0;
    }

    .investmentpotential-main {
    }
  }
}
