.statistika-container {
  width: 100%;
  .statistika-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .statistika-menu {
      padding: 15px 0;
    }

    .statistika-main {
    }
  }
}
