.fromoneinstitution-container {
  width: 100%;
  .fromoneinstitution-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .fromoneinstitution-menu {
      padding: 25px 0;
    }

    .fromoneinstitution-main {
    }
  }
}
