.accreditation-container {
  width: 100%;
  .accreditation-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .accreditation-menu {
      padding: 25px 0;
    }

    .accreditation-main {
    }
  }
}
