.opendata-container {
  width: 100%;
  .opendata-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .opendata-menu {
      padding: 25px 0;
    }

    .opendata-main {
    }
  }
}
