.childrencenters-container {
  width: 100%;
  .childrencenters-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .childrencenters-menu {
      padding: 25px 0;
    }

    .childrencenters-main {
    }
  }
}
