.lawsoneducation-container {
  width: 100%;
  .lawsoneducation-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;
    padding-bottom: 65px;
    & > div:nth-child(1) {
      padding: 25px 0;
    }
    & > div:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 30px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .lawsoneducation-content {
      & > div:nth-child(2) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .lawsoneducation-content {
      & > div:nth-child(2) {
        grid-template-columns: 1fr;
      }
    }
  }
}
