.decisionandexecution-container {
  width: 100%;
  .decisionandexecution-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .decisionandexecution-menu {
      padding: 25px 0;
    }

    .decisionandexecution-main {
    }
  }
}
