.vacancies-container {
  width: 100%;
  .vacancies-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .vacancies-menu {
      padding: 25px 0;
    }

    .vacancies-main {
    }
  }
}
