.forforeigncitizens-container {
  width: 100%;
  .forforeigncitizens-content {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .forforeigncitizens-menu {
      padding: 25px 0;
    }

    .forforeigncitizens-main {
    }
  }
}
